emusrc/build
build
*.md
*.gba
*.elf
*.bin
*.sav
*.exe
*.zip
*.jpg
*.bmp
*.png
*.gif
Chinese_manual.*
English_manual.*
icon_a26.*
icon_arc.*
icon_cht.*
icon_CV.*
icon_esv.*
icon_exe.*
icon_EXE.*
icon_fc.*
icon_FC.*
icon_folder.*
icon_GB.*
icon_gba.*
icon_GBC.*
icon_GG.*
icon_IMG.*
icon_mid.*
icon_mod.*
icon_MSX.*
icon_NG.*
icon_nor.*
icon_nsf.*
icon_o2.*
icon_other.*
icon_pat.*
icon_PCE.*
icon_pic.*
icon_pico.*
icon_plug.*
icon_pokem.*
icon_rtc.*
icon_rts.*
icon_sav.*
icon_sc3000.*
icon_SG.*
icon_SMS.*
icon_SV.*
icon_sys.*
icon_TXT.*
icon_vmu.*
icon_wav.*
icon_WS.*
icon_ZX.*
image_sizes.*
light
MANUAL_EN.*
nor_icon.*
notfound.*
splash.*
SPLASH.*
HELP.*
icons.*
icon_chip.*
icon_nor.*
MENU.*
NOR.*
RECENTLY.*
SD.*
SET.*
SET2.*
source/lang.c.bak
jagoombacolor-master/src/ui.c.bak
